.display-layout {
  background-color: lightgray;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

.all-match-display {
  background-color: lightblue;
  width: 100%;
  display: grid;
  grid-column: 1;
  grid-row: 1 / 5;
  justify-content: center;
}

.current-match {
  background-color: lightblue;
  justify-content: center;
  display: grid;
  grid-column: auto;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
}

.player-card-display {
  background-color: lightgreen;
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  grid-column: 2 / 8;
  grid-row: 2;
}

.player-card {
  background-color: yellow;
  width: 100%;
  display: grid;
}
